@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}

.weather-card {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}
.city-chip {
  transition: all 0.3s ease;
}
.city-chip:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
